.main-container {
    display: flex;
    height: 100vh;
    background-color: #263238;
}

.wrapper-create {
    flex: 1;
    justify-content: center;
    align-items: center;
    display: flex;
}

.create {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #9E9E9E;
    border-radius: 20px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #ef5350;
    box-shadow: 15px 15px 25px rgba(0,0,0,0.5);
}

.create-input:first-child {
    margin-bottom: 15px;
}

.create-input {
    border: solid 0px #9E9E9E;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    font-family: inherit;
    background-color: #b35c5a;
    color: #EEEEEE;
}

.create-button {
    border: solid 0px #9E9E9E;
    margin-top: 30px;
    font-family: inherit;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #ef9950;
    text-transform: uppercase;
}